
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Oswald', sans-serif;

}

nav {
	
	position: absolute;
	color: black;
	width: 100%;
	height: auto;
	top: 400px;
	box-sizing: content-box;
	text-align: left;
    /*font-family: 'Rock Salt', cursive;*/
    font-family: 'Oswald', sans-serif;
    font-size: 25px;


	
}

nav ul li{

	list-style-type: none;

}
nav a{

	text-decoration: none;
	color: black;

}

.container {


}

.row {
	position: fixed;
	background-color: rgb(255,255,255);
	padding: 10px;
	width: 30%;
	height: 100%;
	color: black;
	/*box-shadow: 5px 2px 2px black;*/

}

.xpr {

	background-color: black;
	position: absolute;
	height: auto;
	width: 60%;
	top: 65px;
	right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.xpr .experience .interets{

font-size: 25px;
color: white;
padding : 5px;
margin-bottom: 10px;
width: 60%;

}

.xpr img {
	margin-top: 20px;
	width: 50%;
	height: 50%;
}

.xpr p{
	padding: 20px;
	text-align: justify;
	font-size: 20px;
}

.experience {

	background-color: black;
	position: absolute;
	height: auto;
	width: 60%;
	top: 700px;
	right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*display: none;*/
}

.interets {

	background-color: black;
	position: absolute;
	height: auto;
	width: 60%;
	top: 1300px;
	right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}

.logo img{

	display: block;
    position: fixed;
    height: 45%;
    width: 20%;
    top: 6px;
}
h3 {

	font-family: 'Rock Salt', cursive;
}
hr {
	top: 18px;
	width: 100%;
	height: 10px;
	background-color: red;
}

.contact {

	background-color: black;
	position: absolute;
	height: auto;
	width: 60%;
	top: 1700px;
	right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}